<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118400534970-qhjq3qdi1virgb8n702tpi49kqjli0lo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118400534970-qhjq3qdi1virgb8n702tpi49kqjli0lo</string>
	<key>API_KEY</key>
	<string>AIzaSyC-kSlYiCVsAIYWJlyPE44YdSzQ8YgEkII</string>
	<key>GCM_SENDER_ID</key>
	<string>118400534970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fernandovezver.MogoV1</string>
	<key>PROJECT_ID</key>
	<string>mogo-e065d</string>
	<key>STORAGE_BUCKET</key>
	<string>mogo-e065d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118400534970:ios:f94213fca74410a1</string>
	<key>DATABASE_URL</key>
	<string>https://mogo-e065d.firebaseio.com</string>
</dict>
</plist>